<h1 class="text-2xl font-bold mb-4">Editing data capturing</h1>

<%= render "form", data_capturing: @data_capturing %>

<div class="mt-6">
  <%= link_to "Show this data capturing", @data_capturing, class: "text-indigo-600 hover:underline mr-4" %>
  <%= link_to "Back to data capturings", data_capturings_path, class: "text-indigo-600 hover:underline" %>
</div>
