<h1>Editing data capturing</h1>

<%= render "form", data_capturing: @data_capturing %>

<br>

<div>
  <%= link_to "Show this data capturing", @data_capturing %> |
  <%= link_to "Back to data capturings", data_capturings_path %>
</div>
